.ub-media-credit {
	display: block;
	margin: 0.25em 0 0;
	font-size: 0.75em;
	opacity: 0.75;
}

.wp-block-gallery .ub-media-credit {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0.2em 0.5em;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
}
